<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form >
    <div>
      <div class="images">
        <img src="../assets/password.png">
      </div>
      <ion-item>
        <ion-input [(ngModel)]="user.email" name="email" type="email" #emai placeholder="azerty@gmail.com" ngModel required></ion-input>
      </ion-item>

    </div>
    <div style="text-align: center;margin:auto;">

      <ion-button expand="block"  (click)="resetPass(emai.value)" > Reset </ion-button>

    </div>
    <div style="text-align: center;margin:auto;">
      <ion-button expand="block" color="warning" (click)="backLogin()"> back to login</ion-button>
    </div>
  </form>


</ion-content>
