<ion-header>
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-icon name="arrow-back" (click)='backmenu()'></ion-icon>
    </ion-buttons>


    <ion-title>langue</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Langue</ion-label>
    <ion-select [(ngModel)]="Language" [value]="language" (ionChange)="changeLanguage()" slot="end">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Spanish</ion-select-option>
      <ion-select-option value="fr">French</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
