<!-- <ion-header>
  <ion-toolbar>
    <ion-title>popovercomponent</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-grid>
    <ion-row> <ion-col (click) = openModal()>Thèmes</ion-col> </ion-row><br>
    <ion-row> <ion-col>Durée Status</ion-col> </ion-row><br>
    <ion-row> <ion-col (click) = openModals()>Langue</ion-col> </ion-row><br>
    <ion-row> <ion-col>Invité(s)</ion-col> </ion-row><br>
    <ion-row> <ion-col (click) = opensModals()>Qr Code</ion-col> </ion-row>
  </ion-grid>
</ion-content>
