<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-card style="background-image: url('assets/ui.jpg');"> -->

    <!-- <ion-card-header div="fa"> -->
    <div class="images">
      <img src="../assets/signup.png">
    </div>
    <div class="profile">
      <h5 class="card-title">Choisir une photo de profil </h5>
      <input type="file" (change)="upload($event)" accept=".png,.jpg" id="file-input" />
    </div>




    <!-- </ion-card-header> -->


    <!-- <ion-card-content> -->

      <form [formGroup]=" validationFormUser" (ngSubmit)="register( validationFormUser.value)">


        <div class="form">

          <ion-item>
            <ion-input formControlName="names" placeholder="names" type="text"></ion-input>
          </ion-item>
          <div class="">
            <ng-container *ngFor="let validation of validationUserMessage.names">
              <div class="error_message"
                *ngIf="validationFormUser.get('names').hasError(validation.type) && (validationFormUser.get('names').dirty || validationFormUser.get('names').touched ) ">
                {{ validation.message}}

              </div>
            </ng-container>
          </div>
          <br>

          <br>
          <ion-item>
            <ion-input formControlName="email" placeholder="Email" type="text"></ion-input>
          </ion-item>
          <div class="">
            <ng-container *ngFor="let validation of validationUserMessage.email">
              <div class="error_message"
                *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched ) ">
                {{ validation.message}}

              </div>
            </ng-container>
          </div>
          <br>


          <ion-item>
            <ion-input formControlName="password" placeholder="passwword" type="password"></ion-input>
          </ion-item>
          <div class="">
            <ng-container *ngFor="let validation of validationUserMessage.password">
              <div class="error_message"
                *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched ) ">
                {{ validation.message}}

              </div>
            </ng-container>
          </div>

        </div>

        <br />
        <ion-button class="submit-btn" expand="block" fill="solid" type="submit" [disabled]="!validationFormUser.value">
          SignUp </ion-button>

      </form>
      <br>
      <ion-button expand="block" color="warning" (click)="logeMe()"> SignIn </ion-button>



    <!-- </ion-card-content> -->
  <!-- </ion-card> -->
</ion-content>
